/* div{
    align-items: ;
} */
/* .resume-container{
    width: 500px;
} */
ul{
    display: flex;
    list-style: none;
    /* padding: 20px; */
    justify-content: center;
}
li{
    padding: 20px;
}

