/* div{
    align-items: ;
} */
/* .resume-container{
    width: 500px;
} */
/* body{
    transition: ease-in 1s;
} */

.personalinfo,.educationinfo,.projectinfo,.experianceinfo{

    line-height: 10px;
    margin-bottom:50px ;
}
.personalinfo{
    display:flex ;
    justify-content: center;
    height: 80px;
}
.personalinfo h1{
    margin-bottom: 0px;
    justify-self: center;
}
.personalinfo p{
    margin-top: 1px;
}
ul{
    display: flex;
    list-style: none;
    /* padding: 20px; */
    /* justify-con.tent: center; */
}
li{
    padding: 20px;
}

.educationinfo p ,.experianceinfo p{
    font-size: 16px;
}

.project{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.project a{
    margin-right: 13px;
}

.education-div,.project-div,.experiance-div{
    margin-bottom: 25px;
}

.education-list{
    display: flex;
    flex-direction: column;
    margin: -2%;
    /* padding: 0%; */
    line-height: -5%;
    
}
.education-list li{
    margin-bottom: -2%;
    padding: 0%;
}