
.preloader{
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
    /* justify-self: center; */
    align-items: center;
    /* justify-items: center; */
    /* transition:ease 1s; */
}
.loader{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(38, 59, 124) ;
    border-top: 5px solid transparent ;
    /* border-top: none; */
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}