
.form-btn{
    /* margin: 10px; */
    margin-top: 0px;
    background-color: beige;
    color: black;
    border-right: 1px solid;
    
}
.form-btn:hover {
  background-color: rgb(237, 237, 220);
  translate: 1px;
  box-shadow:#1a1a1a;
}
.close-btn{
    display: flex;
    justify-content: center;
    border-radius: 80%;
    height: 45px;
    width: 45px;
    position: absolute;
    right: 0px;
    top: 0px;
    /* align-items: center; */
}
/* .submit-btn{
    display: flex;
    justify-self: center;
    border-radius: 15px;
    margin-top: 20px;
} */

.del-btn{
    background-color: rgb(213, 74, 74);
}
.add-btn{
    background-color: rgb(66, 131, 66);
}
.del-btn,.add-btn{
    width: 80px;
    
}

.dynamic-btn-div{
    display: flex;
    justify-content:space-evenly;
}
.form-btn-div{
    display: flex;
    justify-content: center;
}
div{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
.form-comp{
    display: flex;
    flex-direction: column;
}
label{
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    
}
fieldset{
    display: flex;
    flex: 1;
    flex-direction: column;
    border: none;
    padding: 12px;
}
input{
    height: 20px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    color: rgb(223, 223, 223);
    cursor: text;
    transition: translate 0.5s;
    font-style: italic;
}
input:hover{
    translate: 3px;
}